<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Free Online Virus Scan - Bitdefender Online Virus Scanner</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />
<link href="styles.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="main">
    	<!-- header begins -->
    <div id="header">
        <div id="buttons">
             <a href="index.html" title="">Home</a><div class="but_razd"></div>
                <a href="Small.aspx" title="">Small Business</a><div class="but_razd"></div>
                <a href="Enter.aspx" title="">Enterprises</a><div class="but_razd"></div>
                <a href="Aboutus.aspx" title="">About&nbsp;us</a><div class="but_razd"></div>
                <a href="Contactus.aspx" title="">Contact&nbsp;us</a>
      </div>
	<div id="logo">
            <a href="#">Bitdefender</a>
      <p><a href="#">Online Scanner</a></p>
      </div>
    </div>
    <!-- header ends -->
    <div class="main_box">
    	<div class="main_box_top"></div>
        <div id="top">
		
				 <div id="slider-wrapper">        
            <div id="slider" class="nivoSlider">
                <img src="images/img_top.jpg" alt="" />
                <img src="images/img_top2.jpg" alt=""/>
                <img src="images/img_top3.jpg" alt="" />
            </div>        
        </div>

<script type="text/javascript" src="lib/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="lib/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
				
		</div>
      	<div class="main_box_bot"></div>
    </div>
<!-- content -->
    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
 	<div id="content" >
    	<div class="main_box">
        	<div class="main_box_top"></div>
            <div id="rows">
				<div id="row1">
                    <div class="box1">
                    	<h2> Key Feature</h2>
                        <div style="height: 10px">
                            <div class=" box1_left"><img src="images/img1.png" style="padding-top: 5px;" alt="" /></div>
                          	<div class=" box1_right">
                            	<p>Fast. Bitdefender Quickscan runs in the cloud as a lightning-fast virus and spyware detection tool. </p>

                                <div class="read_more"><a href="#">read more</a></div>
                          	</div>
                        </div>
                    </div>
                  <div class=" box1_div"></div>
                  <div class="box1">
                      <h2>Simplicity</h2>
                        <div style="height: 102px">
                        	<div class=" box1_left"><img src="images/img2.png" style="" alt="" /></div>
                          <div class=" box1_right">
                           	<p>Easy to use. The Quickscan service can be accessed from any Internet-connected PC. You don't need to install software.</p>
                            	<div class="read_more"><a href="#">read more</a></div>
                          </div>
                        </div>
                	</div><div class=" box1_div"></div>
                    <div class="box1">
                      <h2>Benefit</h2>
                        <div style="height: 102px">
                        	<div class=" box1_left"><img src="images/img3.png" style="padding-top: 5px;" alt="" /></div>
                          <div class=" box1_right">
                           	<p>QuickScan only detects viruses and spyware which are active in memory or present in files that are run at system startup.</p>
                            	<div class="read_more"><a href="Scan.aspx">start scanner</a></div>
                          </div>
                        </div>
                	</div>
				</div>
                <div id="row2">
                	<div class="box2">
                    	<div class="box2_top">
                        	<div class="box2_bot">
                            	<h3>Speed</h3>
                                <div>
                                	<div style="width: 447px; float:left;">Light. Based on award-winning antivirus Bitdefender technologies, Quickscan detects viruses and spyware without slowing down your PC</div>
                                	<div style="width: 447px; float: right; display: inline; margin-right: 23px;">
                                    	as most operations are performed remotely on Bitdefender servers.
                                    </div>
                                    <div class="cleare"></div>
                                </div>
                                <div class="read_more"><a href="#">read more</a></div>
                        	</div>
                    	</div>
                	</div>
                	<div class="cleare"></div>
            	</div>
                <div style="height:10px"></div>
               
                
                <div class="cleare"></div>
        	</div>
            <div class="main_box_bot"></div>
		</div>
    </div>
    <div id="bottom">
    	<div id="bottom_box1">
            <h1>Our Partners</h1>
            <div class="text">
                <ul class="index_ul">
                    <li><a href="#">Vibhor Mittal(10104659) </a></li>
                    <li><a href="#">Aviral Agarwal(10104672)</a></li>
                    <li><a href="#">Paresh Shivastava(10104677)</a></li>
                    <li><a href="#">Divya(9910102366) </a></li>
                                    </ul>
            </div>
        </div>
        <div id="bottom_box2">
            <h1>Recent Posts</h1>
             <p>
                <strong>27 Sep 2012</strong><br />
                <strong>Popular Database Management Tool Compromised</strong> <br />
                Served from Korea <br />
                
			</p>
            <div class="read_more_bottom"><a href="#">read more...</a></div>
            <p>
                <strong>28 Sep 2012</strong><br />
                <strong>Bitdefender Provides Free Tool to Protect Android Users </strong> <br />
               from Remote 
            <div class="read_more_bottom"><a href="#">read more...</a></div>
        </div>
        <div id="bottom_box3">
            <h1 class="forte_text">Social Icons</h1>
            <ul class="bottom_ul_share">
                <li class="bottom_ul_share_bg1"><a href="#">Subscribe to Blog</a></li>
                <li class="bottom_ul_share_bg2"><a href="#">Be a fan on Facebook</a></li>
                <li class="bottom_ul_share_bg3"><a href="#">RSS Feed</a></li>
                <li class="bottom_ul_share_bg4"><a href="#">Follow us on Twitter</a></li>
            </ul>
      	</div>
        <div class="cleare" style="height:10px"></div>
    </div>	
</div>
<div id="footer">
    <p>Copyright  2012. <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
    <p><!-- Do not remove -->Designed by <a href="http://www.metamorphozis.com/free_templates/free_templates.php" title="Free Website Templates">Free Website Templates</a><!-- end --></p>
</div>
</body>
</html>



